asgiref==3.11.1
black==26.3.1
click==8.3.1
crispy-bootstrap5==2026.3
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==5.2.12
django-cache-url==3.4.6
django-crispy-forms==2.6
environs==11.0.0
gunicorn==22.0.0
marshmallow==4.2.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg2==2.9.11
python-dotenv==1.2.2
pytokens==0.4.1
sqlparse==0.5.5
whitenoise==6.12.0
