{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Password Reset Form - User Email
{% endblock title %}

{% block header %}
<h1 class="alert alert-danger shadow-text-r" role="alert">
    Reset Password - Email
</h1>
{% endblock header %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger" type="submit">Send Request Via Your Email</button>
    </form>
{% endblock content %}

{% block footer %}
<h4 class="text-center alert alert-warning shadow-text-r">Check your email after submisson</h4>
{% endblock footer %}