.format {
    background-color: burlywood;
}

.shadow-text-r {
    color: black;
    text-shadow: 2px 2px 2px crimson;
}

.shadow-text-g {
    color: black;
    text-shadow: 2px 2px 2px lawngreen;
}

.shadow-text-b {
    color: black;
    text-shadow: 1px 1px 1px gray;
}

.btn-shadow {
    box-shadow: 2px 2px 1px grey;
}
