{% extends 'base.html' %}

{% block title %}
Article Detail
{% endblock title %}

{% block header %}
Article - <q>{{ article.author }}</q>
{% endblock header %}

{% block content %}
    <h1 class="text-center">
        {{ article.title|title }}
        <br \>
        {{ article.body }}
        <br \>
        {{ article.author }}
    </h1>
{% endblock content %}

{% block footer %}
<h2>
    <a href="{% url 'article_update' article.pk %}">Update</a>
    <br \>
    <a href="{% url 'article_delete' article.pk %}">Delete</a>
</h2>
{% endblock footer %}